.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: absolute;
    top: 16%;
    left: 42%;
}
.rights{
    background-color: #F4683C;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -80%;
    right: 12%;
    left: 18%;
}

@media only screen and (max-width:380px) {
    .about-text{
        left: 0%;
        color: rgb(21, 20, 20);
    }
   
    
}



@media only screen and (max-width:420px) {
    .about-text{
        left: 4%;
        color: rgb(21, 20, 20);
    }
   
    
}


@media only screen and (max-width:492px) {
    .about-text{
        left: 2%;
        color: rgb(21, 20, 20);
    }
   .rights{
    left: 13%;
   }
    
}