.favpage{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    background-color: #F3F3F7;
    height: fit-content;
}
.favpage p{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
}
.readlater{
    background-color: #F3F3F7;
    height: 100vh;

}
.readlater h1{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;

}

@media only screen and (max-width:1200px) {
    .favpage {
        grid-template-columns: auto auto;

    }
    .readlater h1{
        display: flex;
        align-items: left;
        justify-content: left;
        margin-left: 20px;
        font-size: 1rem;
       }
    
}

@media only screen and (max-width:680px) {
    .favpage {
        grid-template-columns: auto ;
    }
    .readlater h1{
        display: flex;
        align-items: left;
        justify-content: left;
        margin-left: 20px;
        font-size: 1rem;
       }
    
}

@media only screen and (max-width:380px) {
    .readlater h1{
        display: flex;
        align-items: left;
        justify-content: left;
        margin-left: 20px;
        font-size: 1.5rem;
       }
    
}
@media only screen and (max-width:285px){
   .readlater h1{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 20px;
    font-size: 1rem;
   }
   .favpage p{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
   }
}