.favpage{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
    background-color: #F3F3F7;
    height: fit-content;
}

.readlater{
    background-color: #F3F3F7;
    height: 100vh;

}
.readlater h1{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;

}

@media only screen and (max-width:1200px) {
    .favpage {
        grid-template-columns: auto auto;

    }
    
}

@media only screen and (max-width:680px) {
    .favpage {
        grid-template-columns: auto ;
    }
    
}

@media only screen and (max-width:380px) {
    /* h1{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    
}