
.Link{
  text-decoration: none;
  color: rgb(26, 26, 26);
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 99;
}
.menu-icon {
  display: none;
}
.active{
  font-weight: bolder;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: fit-content;
}
ul li{
  margin-top: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63%;
  height: 7%;
  margin-left: 25px;
}









@media  only screen and (max-width:376px){
  .logo{
    width: 49%;
    height: 15%;
    margin-left: 50px;
  }
  ul{
    font-weight: 300;
  }
  .active{
    font-weight: bold;
  }
}




@media  only screen and (min-width:380px) and (max-width:420px){
  .logo{
    width: 49%;
    height: 15%;
    margin-left: 50px;
}
ul{
  font-weight: 300;
}
.active{
  font-weight: bold;
}
}


@media  only screen and (max-width:415px){
  .logo{
    width: 49%;
    height: 15%;
    margin-left: 50px;
}
ul{
  font-weight: 300;
}
.active{
  font-weight: bold;
}
} 