.sidenav{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 position: fixed;
}

ul li{
    list-style-type: none;
    font-weight:400;
    margin-top: 25px;
    text-align: left;
    
}
.Link{
  text-decoration: none;
  color: rgb(26, 26, 26);
}

@media screen and (max-width:900px) {
  .sidenav{
    display: none;
  }
  
}


