.Topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3F3F7;
    width: 100%;
    height: 80px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.search input:focus {
    border: 2px solid rgb(138, 133, 133);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.search select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    font-size: 15px;
    width: 60px;
    color: rgb(43, 42, 42);
    float: left;
    background-color: #ccc;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    cursor: pointer;
}

select option {
    background-color: #F3F3F7;
}

.search input {
    border: 2px solid #ccc;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    padding: 8px;
    width: 250px;
    outline: none;

}

.search input::placeholder {
    font-weight: 100;
    color: #A7A7A7;
}

.Topbar p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-style: italic;
    column-gap: 10px;
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    width: 20%;
}

.signin {
    border: none;
    background-color: #F4683C;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:1209px) {
    .Topbar p {
        font-size: 0.7rem;
        width: 25%;
    }

}

@media only screen and (max-width:900px) {
    .Topbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .Topbar p {
        display: none;
    }

    .signin {
        display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        float: left;
        left: -37%;
        top: 0%;
        width: 4%;
        height: 5%;
    }
}



@media  only screen and (max-width:790px) {
    .menu-icon{
        left: -39%;
    }
  }


  @media  only screen and (max-width:750px) {
    .menu-icon{
        left: -43%;
    }
  }

  @media  only screen and (max-width:700px) {
    .menu-icon{
        left: -47%;
    }
  }

  @media  only screen and (max-width:620px) {
    .menu-icon{
        left: -50%;
    }
  }

  @media  only screen and (max-width:740px) {
   .Topbar{
    width: 108vh;
   }
  }

  
  @media  only screen and (max-width:350px) {
   .menu-icon{
    width: 18%;
    height: 10%;
    left: -95%;
   }
  }

  @media  only screen and (max-width:700px) {
   
    .Topbar{
      width: 167vh;    
    }
    }





@media  only screen and (max-width:760px) {
 
  .Topbar{
    width: 148vh;    
  }
  }

  @media  only screen and (max-width:450px) {
      
      .menu-icon{
        left: -70%;
        width: 8%;
      }

  }

  
  @media  only screen and (max-width:470px) {
      
    .menu-icon{
      left: -65%;
      width: 7%;
      height: 5%;
    }

}
  
  @media  only screen and (max-width:350px) {
      
    .menu-icon{
      left: -95%;
      width: 12%;
      height: 8%;
    }

}


@media  only screen and (max-width:290px) {
      
    .menu-icon{
      left: -107%;
      width: 10%;
      height: 8%;
    }
    

}