.preview{
   
    background-color: #F3F3F7;
    height: fit-content;
}
.commentSection .p{
    font-weight: bold;
    margin-top: 10%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    gap: 10px;
    margin-top: 20px;
}
.preview p, .preview ul li{
    color: #5b5a5a;
    font-weight: 200;
}
.book-image{
    width: 22%;
    height: 380px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.content button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

ul li{
    list-style-type: none;
}
.availabiliy
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .Rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.desc{
  margin-left: 45px;
}

.btns{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}



@media  only screen and (min-width:380px) and (max-width:420px) {
    .book-image{
        width: 23%;
        height: 180px;
    }
}

@media  only screen and (max-width:376px) {
    .preview{
        height: fit-content;
        width: 100%;
        
    }
    .book-image{
        width: 22%;
        height: 180px;
    }
    .preview p, .preview ul li{
      font-size: 0.8rem;
    }
    .desc{
        font-size: 0.9rem;
        margin-left: 10px;
        margin-top: 20px;
    }
    .btns .btn1{
        padding: 8px 8px !important;
        font-size: 0.5rem !important;
        margin-left: 10px;
    }
    .book-title{
        font-size: 0.9rem;
    }
    .accept{
        width: 4% !important;
    }
    .heart{
        width: 7% !important;
    }
 }


 @media  only screen and (max-width:415px){
    .preview{
        height: fit-content;
    }
    .book-image{
        width: 25%;
        height: 180px;
    }
    .preview p, .preview ul li{
      font-size: 0.8rem;
    }
    .desc{
        font-size: 0.9rem;
        margin-left: 10px;
        margin-top: 20px;
    }
    .btns .btn1{
        padding: 8px 10px !important;
        font-size: 0.5rem !important;
    }
    .book-title{
        font-size: 0.9rem;
    }
    .accept{
        width: 4% !important;
    }
    .heart{
        width: 7% !important;
    } 
 }




 @media  only screen and (max-width:285px){
    .preview{
        height: fit-content;
        width: 100%;
    }
    .book-image{
        width: 29%;
        height: 150px;
        padding: 8px;
    }
    .preview p, .preview ul li{
      font-size: 0.7rem;
    }
    .desc{
        font-size: 0.9rem;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .btns .btn1{
        padding: 5px 8px !important;
        font-size: 0.4rem !important;
        margin-left: 5px;
    }
    .book-title{
        font-size: 1rem;
    }
    .accept{
        width: 4% !important;
    }
    .heart{
        width: 8% !important;
    }
 }

 @media  only screen and (max-width:545px){
    .book-image{
        width: 50%;
        height: 250px;
        padding: 12px;
    }
    .heart{
        width: 7% !important;
    }
    .desc{
        margin-left: 10px;
    }
    .commentSection{
        margin-left: 0px;
        width: 100%;
    }
    .commentSection p{
        font-weight: bold;
        margin-top: 20%;
    }
    .btn1{
        font-size: 0.7rem !important;
    }
 }