
.layout{
  display: grid;
  grid-template-columns: 15% 85%;
}
.top-content{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px){
  .layout{
    display: flex;
    flex-direction: row;
  }
  .top-content{
    width: 100%;
  }
}
.nav{
  height: 100vh;
}
